<h1>User 一覧ページ</h1>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <p>User_id: <%= user.id %><br> E-mail: <%= user.email %></p>
      </li>
    <% end %>
  </ul>
<% end %>

  