<div class="container">
  <h1>Home</h1>
  <p>ここにレッスン一覧など</p>

  <div class="lets-learn">
    <div class="teacher-thumbnail-examples">
      <% 10.times do %>
        <%= render 'home/teacher_thumbnail' %>
      <% end %>
    </div>
  </div>
</div>