<div class="container">
  <h1>Home</h1>
  <p>ここにレッスン一覧など</p>

  <div class="lets-learn">
    <div class="teacher-thumbnail-examples">
      <% 10.times do %>
        <div class="teacher-thumbnail-example z-depth-3 waves-effect waves-dark">
          <img src="../assets/icons8-circled-user-64.png" alt="teacher-image" class="teacher-icon">
          <div class="teacher-info">
            <div class="teacher-info-left">
              <ul class="teacher-info-1">
                <li>Name:</li>
                <li>教えられるスキル:</li>
                <li>出身国:</li>
              </ul>
            </div>
            <div class="teacher-info-right">
              <ul class="teacher-info-2">
                <li>職業:</li>
                <li>資格:</li>
                <li>市域:</li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>