<div class="log-in-with-oauth">
  <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "waves-effect waves-light btn log-in-with-google" do %>
    <i class="fab fa-google"></i> Log in with Google
  <% end %><br>

  <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "waves-effect waves-light btn log-in-with-facebook" do %>
    <i class="fab fa-facebook-f"></i>Log in with Facebook
  <% end %>
</div>