.btn {
  &.lesson-submit,
  &.lesson-back,
  &.lesson-edit,
  &.lesson-edit-cancel,
  &.lesson-update {
    font-size: 20px;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 0 60px;
  }
}