<footer class="page-footer amber lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a href="#" class="grey-text text-darken-1">Link 1</a></li>
          <li><a href="#" class="grey-text text-darken-1">Link 2</a></li>
          <li><a href="#" class="grey-text text-darken-1">Link 3</a></li>
          <li><a href="#" class="grey-text text-darken-1">Link 4</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="black-text">SNS</h5>
        <ul>
          <li><a href="#" class="grey-text text-darken-1">Facebook</a></li>
          <li><a href="#" class="grey-text text-darken-1">Instagram</a></li>
          <li><a href="#" class="grey-text text-darken-1">LINE</a></li>
          <li><a href="#" class="grey-text text-darken-1">Twitter</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="black-text">Contact us</h5>
        <a href="#" class="grey-text text-darken-1">Email: email@example.com</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="center">
        <small class="black-text">&copy; 2019 Thunder Inc. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>